@import './vars';

// MAIN IMAGE ANIMATION & VIDEO Display

body {
  background-color: $bgColor;
  font:100% $fontStack;
  color:$fontColor;
}


.page{
  resize: both;

}
.contentContainer {
  opacity: 0;
  animation-name: fadeUp;
  animation-delay: 5s;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  width:90%;
  margin-left: 5%;
  margin-right: 5%;
  //border: solid 1px green;
  padding: 30px;

  @media #{$large} {
    padding: 20px;
  }
  @media #{$medium} {
    padding: 15px;
  }
  @media #{$small} {
    padding: 10px;
  }

  @keyframes fadeUp {
    0% {
      opacity: 0;
    }

    100% {

      opacity: 1;
    }
  }
}

#appsList{
  display: inline-block;
  //border: solid 1px yellow;
  width: 90%;
  overflow-y: scroll;
  height: 50%;
  padding: 20px;
  @media #{$large} {
    padding: 15px;
  }
  @media #{$medium} {
    padding: 10px;
  }
  @media #{$small} {
    padding: 5px;
  }

}
